.header{
    height:105px;
    width:100%;
    background-color:#42576f;
    text-align: center;
    padding-top: 15px;
    max-height:200px;    
}
.logoFHO{
    vertical-align: middle;
}
.tituloClinica{
    color:white;
    font-size:25px;
    font-family: 'Titillium Web', sans-serif;
}
body{
    margin:0px;
}
.separador{
    height: 30px;
}
.container-login{
    margin-top:90px;
}
.texto-centro{
    display: block;
    text-align: center;
}    
.tituloColorido{
    color: #42576f;
}
.link-clinica{
    cursor:pointer;
    border-top: 1px solid rgba(0,0,0,0.3);    
    padding-top:10px;
}
.link-clinica:hover{
    color:#42576f;
}
.link-clinica h4{
    color:#42576f;
}
.formulario-login{
    padding-left:100px;
    padding-right:100px;
}
.container-clinicas{
    padding-left:5%;
}
.tipo-clinica{
    text-transform:capitalize;
}
.link{
    color:#337ab7 !important;
    cursor: pointer;
}
.separador-borda{
    margin-top:15px;
    border-top: 1px solid rgba(0,0,0,0.3);    
    margin-bottom:15px;
}
.botao{
    width: 100%;
    background-color: #337ab7;
}
.formulario-esqueceu-senha{
    display:none;
    padding-left:100px;
    padding-right:100px;
}
.label-campo{
    float:left;
}
.span-required{
    color: red;
}
.formulario-login-admin{
    padding-left: 350px;
    padding-right:350px;
}
.menu-item{
    position: relative;
    float: left;
    width: 250px;
    font-size: 17px;
}
.menu-horizontal{
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.div-menu-admin{
    width: 100%;
    background-color:#f5f5f5;
    text-align: center;
    height: 60px;
    vertical-align: middle;
}
.cadastro-consulta{
    display: none;
}
.editar-consulta{
    display:none;
    width:100%;
}
#div-botao-cancelar{
    display:none;
}
#cancelar-editar{
    background-color: #c11d1d;
}
.fc-button-primary{
    background-color: #337ab7 !important;
}
.aviso{
    border:3px solid lightgray;
    border-radius:10px;
    padding:25px;    
}
.titulo-aviso{
    font-weight: 600;
    font-size: 22px;
    color:black
}
.conteudo-aviso{
    color:#525252;
    font-size:18px;
}
.form-editar{
    display: none;
}